DISKCACHE_DIR="diskcache_dir"
SQLITE_DB_DIR="sqlite_dir"
SQLITE_DB_NAME="mydatabase.sqlite3"
MAX_CRAWL_PARALLEL_REQUEST=5
CHROMA_DB_DIR="chroma_dir"
CHROMA_COLLECTION_NAME="mychroma_collection"
OPENAI_API_KEY="xxxx"
GPT_MODEL_NAME="gpt-3.5-turbo"
OPENAI_EMBEDDING_MODEL_NAME="text-embedding-3-small"
MAX_CHUNK_LENGTH=1300
MAX_QUERY_LENGTH=200
RECALL_TOP_K=5
COSINE_SIMILARITY_MAX_SCORE=0.6
MAX_HISTORY_SESSION_LENGTH=3
SESSION_EXPIRE_TIME=10800
SITE_TITLE="your site title"
STATIC_DIR="web"
URL_PREFIX="http://127.0.0.1:7000/"
MEDIA_DIR="media_dir"
